#root {
    -fx-background-color: #333333;
    -fx-padding: 1px;
}
#mainToolBar {
    -fx-padding: 10px;
    -fx-background-image: url("images/top-bar.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}

#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}
#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}
#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}
#window-max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}
#window-close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window-min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window-max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}
#window-close:focused, #window-min:focused , #window-max:focused {
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.7 , 0 , 0 );
}
#page-area {
    -fx-padding: 0;
}

#left-nav-bar {
    -fx-padding: 0 0 0 0;
    -fx-border-image-source: url("images/mid-bar-left.png");
    -fx-border-image-slice: 1 30 1 30 fill;
    -fx-border-image-width: 1 30 1 30;
    -fx-border-image-repeat: stretch;
}

#left-nav-bar .toggle-button {
    -fx-padding: 5 0 0 0;
    -fx-border-insets: 0;
    -fx-border-image-source: url("images/bottom-bar.png");
    -fx-border-image-slice: 1 30 1 30 fill;
    -fx-border-image-width: 1 30 1 30;
    -fx-border-image-repeat: stretch;
}




/* Window Button Styles */
.window-button {
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-background-color: #616161, #464646, #505050;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 6,5,4;
    -fx-padding: 0 0 0 0;
    /* workaround for button sizing */
    -fx-font-size: 1px;
}
.window-button:focused {
    -fx-background-color: -fx-accent, #464646, #505050;
    -fx-background-insets: -0.4,1,2;
    -fx-background-radius: 6.4,5,4;
}
.window-button:hover {
    -fx-background-color: #616161, white, -fx-accent;
}
.window-button:pressed {
    -fx-background-color: #616161, white, #303030;
}
.window-button Rectangle {
    -fx-fill: #949494;
}
.window-button:hover Rectangle {
    -fx-fill: white;
}

/* Remove all scrollpane borders */
.noborder-scroll-pane {
    -fx-padding: 0;
    -fx-background-color: null;
    -fx-background-insets: 0;
}
/* move buttom arrow up to make room for window rewsize button */
.application .noborder-scroll-pane > * > .scroll-bar:vertical {
    -fx-padding: -1.0 -1.0 12 0.0;
}
.application .web-view-window-corner .scroll-bar:vertical {
    -fx-padding: 0 0 12 0;
}

/* make scroll bar arrow buttons little bigger */
.scroll-bar:vertical .increment-button {
    -fx-padding: 0.25em 0.25em 0.35em 0.25em;
}
.scroll-bar:horizontal .increment-button {
    -fx-padding: 0.25em 0.25em 0.25em 0.35em;
}
.scroll-bar:vertical .decrement-button {
    -fx-padding: 0.35em 0.25em 0.25em 0.25em;
}
.scroll-bar:horizontal .decrement-button {
    -fx-padding: 0.25em 0.35em 0.25em 0.25em;
}
/* Styles for Property Sheet in side bar */

.right-sidebar .property-sheet .titled-pane {
    -fx-text-fill: #b7babe;
}

.right-sidebar .property-sheet .titled-pane .label {
    -fx-text-fill: white;
}
.right-sidebar .property-sheet .property-label {
    -fx-text-fill: white;
}
.right-sidebar .property-sheet .titled-pane > .title {
    -fx-background-color: transparent;
    -fx-padding: 2 0 3 0;
}
.right-sidebar .property-sheet .titled-pane > *.content {
    -fx-font-size: 10px;
    -fx-background-color: transparent;
}
.right-sidebar .property-sheet .titled-pane > * > .arrow-button .arrow {
    -fx-background-color: white;
    -fx-background-insets: 0;
}
/** side bar property sheet hyperlink */
.right-sidebar .property-sheet .hyperlink {
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
/** side bar property sheet checkbox */
.right-sidebar .property-sheet .check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 2;
}
.right-sidebar .property-sheet .check-box:focused .box {
    -fx-background-color: transparent;
    -fx-border-color: -fx-focus-color, white;
    -fx-border-insets: -1.4, 0;
    -fx-border-radius: 3.4, 2;
}
.right-sidebar .property-sheet .check-box:selected .mark {
    -fx-background-color: transparent, white;
}
/** side bar property sheet choicebox */
.right-sidebar .property-sheet .choice-box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 5;
}
.right-sidebar .property-sheet .choice-box:focused {
    -fx-background-color: transparent;
    -fx-border-color: -fx-focus-color, white;
    -fx-border-insets: -1.4, 0;
    -fx-border-radius: 6.4, 5;
}
.right-sidebar .property-sheet .choice-box .arrow {
    -fx-background-color: transparent, white;
}


